{{ partial "head.html" . }}

<div class="row">

  {{ partial "sidebar.html" . }}

  <div class="col-sm-8 blog-main">

    <div class="blog-post">

      <div class="blog-post-content">
        <h2 class="blog-post-title">{{ .Title }}</h2>
        <p class="blog-post-meta">{{ .Date.Format "Jan 2, 2006" }} &middot; {{ .ReadingTime }} minute read{{ if .Site.DisqusShortname }} &middot; <a href="{{ .Permalink }}#disqus_thread">Comments</a>{{ end }}</p>

        <div class="blog-post-tags">
            {{ range .Params.tags }}
            <span class="label label-info">
                <a href="/tags/{{ . | urlize }}">{{ . }}</a>
            </span>
            {{ end }}
        </div>

        {{ .Content }}
      </div>

      {{ partial "comments.html" . }}
    </div>

  </div>

</div>

{{ partial "foot.html" . }}
