{{ partial "head.html" . }}

<div class="row">

  {{ partial "sidebar.html" . }}

  <div class="col-sm-8 blog-main">

  <div class="posts">
    {{ range first 10 .Data.Pages }}{{ if eq .Section "post" }}
    <div class="blog-post">
      <h2 class="blog-post-title">
        <a href="{{ .RelPermalink }}">{{ .Title }}</a>
      </h2>
      <p class="blog-post-meta">{{ .Date.Format "Jan 2, 2006" }} &middot; {{ .ReadingTime }} minute read{{ if .Site.DisqusShortname }} &middot; <a href="{{ .Permalink }}#disqus_thread">Comments</a>{{ end }}</p>
      <p>{{ .Description }}</p>
      <p>{{ .Summary}}</p>
      {{ if .Truncated }}
      <div class="read-more-link">
        <a href="{{ .RelPermalink }}">Read More…</a>
      </div>
      {{ end }}
    </div>
    {{ end }}{{ end }}
  </div>
</div>

  </div>
</div>

{{ with .Site.DisqusShortname }}
<script type="text/javascript">
var disqus_shortname = {{ . }};
(function () {
    var s = document.createElement('script'); s.async = true;
    s.type = 'text/javascript';
    s.src = '//' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
</script>
{{ end }}

{{ partial "foot.html" . }}
